<body>
    <header class="header">
        <img class="header__emblem" src="./img/header-emblem.png" alt="Эмблема">
        <div class="header__menu">
            <div class="header__menu-top">
                <span class="header__menu-el">Результаты</span>
                <span class="header__menu-el">Видео-описание</span>
                <span class="header__menu-el">Как работает</span>
                <span class="header__menu-el">Приборы</span>
                <span class="header__menu-el">Контакты</span>
            </div>
            <div class="header__menu-bottom">
                <span class="header__menu-el">Франшиза</span>
                <span class="header__menu-el">Академия</span>
                <span class="header__menu-el header__menu-mail">info@infmed.com</span>
                <span class="header__menu-el header__menu-tel">8 495 777-34-99</span>
            </div>
        </div>
    </header>