<div class="container heal-history">
    <h2 class="heal-history__title">Истории лечения</h2>
    <div class="heal-history__buttons">
        <button class="btn">Аллергия</button>
        <button class="btn">Атопический дерматит</button>
        <button class="btn">Лечение боли</button>
        <button class="btn">Лечение паразитов и микроорганизмов</button>
        <button class="btn">Детокс</button>
    </div>
    <h2 class="heal-history__table-title">Доказанная эффективность на основе 1669 пациентов</h2>
    <table class="heal-history__table">
        <thead>
            <th></th>
            <th>Нозология</th>
            <th>Общее количество</th>
            <th>Излечение</th>
            <th>Значительные улучшения</th>
            <th>Незначительные улучшения</th>
            <th>Без изменений</th>
            <th>Доля излечения/ %</th>
            <th>Общая эффективность / %</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Экзема</td>
                <td>188</td>
                <td>176</td>
                <td>8</td>
                <td>2</td>
                <td>2</td>
                <td>94</td>
                <td>97</td>
            </tr>
            <tr>
                <td></td>
                <td>Крапивница</td>
                <td>353</td>
                <td>266</td>
                <td>42</td>
                <td>30</td>
                <td>15</td>
                <td>75</td>
                <td>87</td>
            </tr>
            <tr>
                <td></td>
                <td>Контактный дерматит</td>
                <td>158</td>
                <td>137</td>
                <td>12</td>
                <td>6</td>
                <td>3</td>
                <td>87</td>
                <td>94</td>
            </tr>
            <tr>
                <td></td>
                <td>Нейродермит</td>
                <td>55</td>
                <td>30</td>
                <td>8</td>
                <td>10</td>
                <td>7</td>
                <td>55</td>
                <td>70</td>
            </tr>
            <tr>
                <td></td>
                <td>Гипергидроз</td>
                <td>183</td>
                <td>160</td>
                <td>10</td>
                <td>12</td>
                <td>1</td>
                <td>87</td>
                <td>93</td>
            </tr>
            <tr>
                <td></td>
                <td>Аллергический ринит</td>
                <td>165</td>
                <td>140</td>
                <td>14</td>
                <td>5</td>
                <td>6</td>
                <td>85</td>
                <td>94</td>
            </tr>
            <tr>
                <td></td>
                <td>Астма</td>
                <td>187</td>
                <td>155</td>
                <td>5</td>
                <td>24</td>
                <td>3</td>
                <td>83</td>
                <td>86</td>
            </tr>
            <tr>
                <td></td>
                <td>Нервный тик</td>
                <td>146</td>
                <td>120</td>
                <td>20</td>
                <td>2</td>
                <td>4</td>
                <td>68</td>
                <td>80</td>
            </tr>
            <tr>
                <td></td>
                <td>Аллергический конъюктивит</td>
                <td>80</td>
                <td>66</td>
                <td>10</td>
                <td>2</td>
                <td>2</td>
                <td>83</td>
                <td>95</td>
            </tr>
            <tr>
                <td></td>
                <td>Уретрит</td>
                <td>124</td>
                <td>103</td>
                <td>16</td>
                <td>2</td>
                <td>3</td>
                <td>82</td>
                <td>95</td>
            </tr>
        </tbody>
    </table>
    <div class="heal-history__table-desc-end">
        И это лишь официальные исследования.<br>
        За 30+ лет эти цифры подтвердили десятки тысяч других пациентов.
    </div>
</div>