.bicom-optima {
    background: radial-gradient(1449.29px at 9.1% 74.71%, #CBDDF2 0%, #F1F6F8 100%);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding: 50px 0 5px;
    position: relative;
    &__content {
        position: relative;
        z-index: 1;
    }
    &__title{
        margin: 0 auto 20px;
        font-size: 33px;
        line-height: 46px; 
        max-width: 637px;
    }
    &__main-title {
        color: #6683B7;
        font-size: 90px;
        line-height: 110px;
    }
    &__text{
        color: #6683B7;
        font-size: 24px;
        line-height: 34px;
        max-width: 555px;
        margin: 10px auto 50px;
    }
    &__button{
        padding: 25px 65px;
        background: radial-gradient(338.43px at 100% 48.12%, #FF8C38 0%, #FF6B00 100%);
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
        border: 0;
    }
    &__vector {
        margin: 50px auto 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 33px 23px 0 23px;
        border-color: #7290C0 transparent transparent transparent;
    }
    
    &__elipse {
        // content: '';
        z-index: 0;
        position: absolute;
        width: 560px;
        height: 560px;
        left: calc(50% - 280px);
        top: 0;
        background: #FFFFFF;
        filter: blur(250px);
    }
}