<div class="bicom-optima">
    <div class="bicom-optima__content">
        <h2 class="bicom-optima__title">Аппарат для ультратонкой биорезонансной диагностики и терапии</h2>
        <h1 class="bicom-optima__main-title">BICOM optima</h1>
        <div class="bicom-optima__text">5 медицинских приборов в 1. Немецкая разработка. Эффективность лечения до 97%
        </div>
        <button class="btn">Получить презентацию</button>
        <div class="bicom-optima__vector"></div>
    </div>
    <div class="bicom-optima__elipse"></div>
</div>