.second-block {
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
    background: linear-gradient(20.41deg, #7D95B9 3.52%, #8FA3C6 52.49%, #9AB2CE 98.85%);
    .bicom-therapy{
        &__main-title{
            padding-top: 35px;
            margin-left: 25px;
            font-weight: bold;
            font-size: 36px;
            line-height: 50px;
        }
        &__title{
            margin: 13px 0 17px 25px;
            font-size: 24px;
            line-height: 34px;
        }
        &__video{
            display: flex;
            &-desc{
                background: #7791BE;
                padding: 20px 20px 38px 25px;
                font-size: 18px;
                line-height: 25px
            }
            &-block{

            }
        }
    }
    .healing {
        padding-left: 25px;
        margin-top: 58px;
        &__main-title{
            font-weight: bold;
            font-size: 36px;
            line-height: 50px;
        }
        &__title{
            margin: 13px 0 37px;
            font-size: 24px;
            line-height:  34px;
        }
        &__desc{
            font-size: 18px;
            line-height: 25px;
            max-width: 550px
        }
        &__gallery{
            margin-top: 50px;
            display: flex;
            justify-content: flex-start;            
        
            &-pic{
                position: relative;
                margin-right: 41px;
                img {
                    position: relative;
                }
                &::before{
                    content: "";
                    position: absolute;
                    height: 170px;
                    width: 170px;
                    background: #6683B7;
                    opacity: 0.6;
                    top: -20px;
                    right: -20px;
                }
            }
        }
        &__gallery-desc{
            display: flex;
            justify-content: flex-start;
            margin-top: 17px;

            &-text {
                font-size: 18px;
                line-height: 25px;
                max-width: 427px;
                &:first-child{
                    margin-right: 71px;
                }
            }           
        }
        &-list {
           .title {
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 20px;
           } 
           .el {
                font-size: 18px;
                line-height: 33px;
           }
        }
    }
}