<div class="second-block">
    <div class="container bicom-therapy">
        <h2 class="bicom-therapy__main-title">УЛЬТРАТОНКАЯ BICOM-ТЕРАПИЯ</h2>
        <h3 class="bicom-therapy__title">Или как работает технология</h3>
        <div class="bicom-therapy__video">
            <div class="bicom-therapy__video-desc">
                <p>
                    Синтез современной медицины, биофизики и компьютерных технологий. Диагностика
                    и лечение осуществляется при
                    помощи
                    медицинского прибора BICOM optima, индуцирующего электромагнитное поле переменной частоты.
                </p>
                <p>
                    Ультратонкая
                    Bicom-терапия может оказать значительную поддержку регулятивной системе. Межклеточный информационный
                    обмен
                    восстанавливается, а вредоносные элементы выводятся из организма.
                </p>
            </div>
            <img src="./img/bicom-therapy-video.jpg" class="bicom-therapy__video-block"></img>
        </div>
    </div>
    <div class="container healing">
        <h2 class="healing__main-title">ЛЕЧЕНИЕ ПРИЧИН ЗАБОЛЕВАНИЯ,</h2>
        <h3 class="healing__title">а не симптомов и синдромов</h3>
        <p class="healing__desc">Принципиально новый способ диагностики и лечения. При помощи аппарата ВICOM optima
            возможно обнаружить и устранить истинные, зачастую скрытые, причины хронических заболеваний.</p>
        <div class="healing__gallery">
            <div class="healing__gallery-pic">
                <img src="./img/healing-baby-1.jpg" alt="Ребенок">
            </div>
            <div class="healing__gallery-pic">
                <img src="./img/healing-baby-2.jpg" alt="Ребенок">
            </div>
            <div class="healing__gallery-pic">
                <img src="./img/healing-baby-3.jpg" alt="Ребенок">
            </div>
            <div class="healing__gallery-pic">
                <img src="./img/healing-baby-4.jpg" alt="Ребенок">
            </div>
        </div>
        <div class="healing__gallery-desc">
            <div class="healing__gallery-desc-text">
                Три недели лечения аллергии с изменением привычек питания. После 3-х недель раны и струпья зажили. В
                течении 3-х последующих лет нет рецидивов.
            </div>
            <div class="healing__gallery-desc-text">
                Типичный дерматит на коровье молоко. Результат после месяца лечения.
            </div>
        </div>
        <div class="healing__gallery">
            <div class="healing__gallery-pic">
                <img src="./img/healing-women-1.jpg" alt="Женщина">
            </div>
            <div class="healing__gallery-pic">
                <img src="./img/healing-women-2.jpg" alt="Женщина">
            </div>
            <div class="healing__gallery-list">
                <h3 class="title">Лечение десятков болезней:</h3>
                <ul>
                    <li class="el">Аллергические заболевания (любых причин)</li>
                    <li class="el">Хронические заболевания внутренних органов</li>
                    <li class="el">Послеоперационная реабилитация</li>
                    <li class="el">Детоксикация (например, после вакцинации, химиотерапии) </li>
                    <li class="el">Стабилизация иммунной системы</li>
                    <li class="el">Болезни кожи</li>
                    <li class="el">Спортивные травмы</li>
                    <li class="el">Борьба с табачной зависимостью</li>
                    <li class="el">Лечение эндокринной патологии</li>
                </ul>
            </div>
        </div>
        <div class="healing__gallery-desc">
            <div class="healing__gallery-desc-text">
                Нейродерматит: после 3-месячного лечения симптомы не наблюдались. Разница — 2 года.
            </div>
        </div>
    </div>
    //= ../3_heal_history/3_heal_history.html
    //= ../4_patent_tech/4_patent_tech.html
</div>