@import 'vars';
@import 'node_modules/bootstrap/scss/bootstrap-reboot';
// @import 'node_modules/bootstrap/scss/bootstrap-grid';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
}

.btn {
    background: radial-gradient(315.94px at 100% 48.12%, #FF8C38 0%, #FF6B00 100%);
    padding: 23px 62px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;    
    color: #FFFFFF;
    border: 0;
}   

@font-face {
    font-family: Rob;
    src: url(./static/fonts/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
  }